<form [formGroup]="formGroup" (ngSubmit)="generateLinks()">
  <mat-form-field>
    <mat-label>Players</mat-label>
    <select matNativeControl formControlName="players">
      <option [value]="o.value" *ngFor="let o of playerOptions">{{ o.label }}</option>
    </select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cards:</mat-label>
    <select matNativeControl formControlName="cards">
      <option [value]="o.value" *ngFor="let o of cardOptions">{{ o.label }}</option>
    </select>
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">Deal!</button>
</form>

<kow-links [config]="config" *ngIf="config"></kow-links>
